/*body { 
  background: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Gfp-wisconsin-council-grounds-state-park-grass-field-with-sunflowers.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body {
	background-color: #afeeee;
}

img {
	border-radius: 5px;
}

p img {
	float:right;
}

p {
	font-family: 'PT Sans Caption', sans-serif;
	word-wrap: break-word;
	margin-right: 10px;
}

.jumbotron h1 {
  	font-family: 'Baloo Da', cursive;
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888;
	margin-right: 20px;
}

.paw {
	-ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
    margin-top: -36px;
    height: 90px;
    margin-left: -105px;
}

.paw-grey {
	-ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
    margin-top: -30px;
}

.search>p {
	color: #696969;
}

#map {
	display: none;
	height: 600px;
	width: 500px;
	margin: auto;
	border: solid 1px #afeeee;
	border-radius: 5px;
}

.container {
	width: 1800px;
}

.jumbotron {
	background-color: #afeeee;
    color: black;

}

.btn {
	background-color: #5f9ea0;
	color: white;
}

.result_container {
	/*margin: 0 auto;
	float: right;
	margin-bottom: 50px;
	width: 70%;
	padding-left: 60px;*/
	display: inline-block;
}

.results p {
	height: 135px;
	width: 255px;
	float:left;
}

.results {
	display:inline-block;
}

.highlight {
	background-color: #7fffd4;
}

.thumbnail {
	border-radius: 5px;
	border: solid 3px #5f9ea0;
}

.no_results {
	text-align: center;
	font-size: 30px;
}