/*body { 
  background: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Gfp-wisconsin-council-grounds-state-park-grass-field-with-sunflowers.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body {
	background-color: #e0ffff;
}

img {
	border-radius: 5px;
}

p img {
	float:right;
	padding-right:50px;
}

p {
	word-wrap: break-word;
}

h1 {
  font-color: #fff;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

#map {
	display: none;
	height: 500px;
	width: 550px;
	left: 0;
	margin-left: 25px;
}

.container {
	width: 1800px;
}

.jumbotron {
	background-color: #e0ffff;
    color: black;
}

.result_container {
	/*margin: 0 auto;
	float: right;
	margin-bottom: 50px;
	width: 70%;
	padding-left: 60px;*/
	display: inline-block;
}

.results p {
	height: 140px;
	width: 250px;
	float:left;
}

.results {
	display:inline-block;
}

.highlight {
	border: 2px solid black;
}

