
body {
	background-color: #e0ffff;
}

img {
	border-radius: 5px;
}

p img {
	float:right;
	padding-right:50px;
}

#map {
	position: absolute;
	display: none;
	height: 500px;
	width: 550px;
	left: 0;
	margin-left: 25px;
}

.container {
	width: 1800px;
}

.result_container {
	margin: 0 auto;
	float: right;
	margin-bottom: 50px;
	width: 70%;
	padding-left: 60px;
}

.results p {
	height: 140px;
	width: 250px;
	float:left;
}

.highlight {
	border: 2px solid black;
}


.map_cont {
	padding-left: 100px;
}
